/*responsive media queries*/

@media (max-width:680px){
    .hero header .container {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -15px;
    }
}
@media (max-width:680px){
    .hero header .container a{
        display:flex;
        flex-wrap: wrap;
    }
}

@media (max-width:680px){
    .hero header .logo h2{
        margin-left:5px;
        font-size: 1.5em;
    }
}

@media screen and (max-width:1180px){
    .libraries .container .box{
        width: 380px;
        max-width: 70%;
        margin-left:-20px;
    }
}

@media screen and (max-width:680px){
    .titulo h2{
        font-size: 6vw;
        margin-top: 80vh;
    }
}

@media screen and (max-width:680px){
    .titulo p{
        font-size: 16px;
        padding-right:20vw;
    }
}

@media (max-width:680px){
.hero{
    background-image:none;
    background-color:blueviolet;
    }
}

@media (max-width:680px){
    .extra{
        background-image:none;
        background-color:#efefef;
    }
}

@media (max-width:680px){
    .avatar { 
        display:none;
    }
}

@media (max-width:1366px){
    .hero header .logo h2{
        margin-left:0px;
        font-size: 1.5em;
    }
}

@media (max-width:1366px){
    .contato h3{
        padding-top: -100px;
    }
}

@media (max-width:1366){
    .contato a{
        color: #444444;
        margin-bottom:30px;
    }
}

@media (max-width:680px){
    .libraries { 
        margin-left:20px;
    }
}


