/*
canvas full screen:
*/
  #three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }

  #file-input{
    margin: 20px;
    z-index: 1;
    position: absolute;
  }

/*fim canvas*/

/*Sessão nova*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;

    color:#212121;
    overflow-x: hidden;
}

h1,h2{
    line-height: 1.2;
}

a{
    display:inline-block;
    text-decoration:none;
    color:#efefef;
    /*LEMBRAR - alterei aqui*/
    font-weight: lighter;
}

/*sections*/
.container{
    width:1280px;
    max-width:95%;
    margin: 0 auto;
}

.parallax{
    background-color:efefef;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    /*efeito parallax*/
    background-attachment: fixed;
}

.hero{
    width:100%;
    height:100vh;

    background-image: url(../assets/bim.png);
    box-shadow: 0 0 15px #21212130;
    position:relative;
}

.hero header{
    width:100%;
    height:auto;
    padding: 30px 0;
    background-color: #21212170;
}

.hero header .container{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
}
.hero header .logo h2{
    margin-left:-23vh;
    font-size: 2em;
    letter-spacing:2px;
    color:#fff;
}

.hero header nav a{ 
    color:#efefef;
    margin-left: 30px;
}

.hero header nav a:hover{ 
    color:#3BF6F5;
}

.titulo{
    max-width: 90vh;
    margin-top:-60vh;
    margin-left: 8vh;
}

.titulo h2{
    font-size: 55px;
    color:#fff;
    padding-bottom: 15px;
}

.titulo p{
    min-width: 50vh;
    color:#fff;
    font-size: 18px;
    font-weight: normal;
    padding-bottom:20px;
}

.titulo .btn-group a{
    padding:15px 30px;
    background-color:#3BF6F5;
    border-radius:10px;
}

.titulo .btn-group a:hover{
    padding:15px 30px;
    background: linear-gradient(to left, transparent,#BC40B8);
    border-radius:10px;
    transition-duration: 0.5s;
}

.libraries{
    width:100%;
    height:auto;
    padding: 100px 0 80px;
    background-color: #efefef;
}

.libraries .container{
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-around;
}

.libraries .container .box{
    width: 320px;
    max-width: 30%;
    background-color: #ffffff;
    padding: 25px;
    margin: 15px;
    border-radius:12px;
    text-align: center;
    transition: .3s box-shadow;
    transition: .5s margin-top;
}

.libraries .container .box:hover{
    box-shadow: 0 0 15px #21212130;
    margin-top: -10px;
}

.libraries .container .box .top{
    width:auto;
    text-align: center;
}

.libraries .container .box h3{
    font-size: 1.5em;
    font-weight: bold;
    color: #444444;
    margin-bottom: 10px;
}

.libraries .container .box p{
    font-size: 1em;
    font-weight: bold;
    color: #444444;
}

.extra{
    width:100%;
    height:50vh;

    background-image: url(../assets/bottom.png);
}

.contato{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top:20vh;
}

.contato h3{
    padding-bottom: 15px;
    color:#fff;
}











/*imagem float*/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}
.avatar {
    margin-top: 15vh;
    margin-left:100vh;
	width:70vh;
    height: 70vh;
	box-sizing: border-box;
	border: none;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;	
}
img { width: 100%; height: auto; }
  
/*fim imagem float*/













/* ANTIGO CSS
body {
    font-family: roboto;
    min-height: 1000px;
}

h1,
h2,
h3,
h5,
h5,
h6 {
    font-family: roboto;
}

.wrap {
    background: rgba(0, 0, 0, 0.5) url(../assets/bim.png) no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 100vh;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 30px;
    color: #fff;
    opacity: 1;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

header .logo {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
}

header .menu {
    float: right;
    margin-top: 5px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.content {
    max-width: 40%;
    padding: 255px 80px 0;
    color: #fff;
}

.content h1 {
    font-size: 48px;
}

.content p {
    font-size: 18px;
    padding: 25px 0;
    font-weight: 300;

}

.content .btn-group {
    margin-top: 45px;

}

.content a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.content a.color1 {
    background-color: #004AAC;
}

.libraries {
    margin-top: -13%;
    padding: 0 80px;
    position: relative;
}

.libraries h3 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.libraries hr {
    border: none;
    height: 4px;
    width: 200px;
    background-color: #004AAC;
}

.libraries-inner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.libraries-inner a {
    display: inline-block;
    width: 14%;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 0 5px 0 #cacaca;
}

.libraries img {
    width: 100%;

}

img.bottom{
    max-width:100%;
}
*/